<% title "Forms Sample" %>

<p>
  This page gives an example of a form in Control Center.
</p>

<form>
  <div>
    <label for="name">Name</label>
    <input type="text" name="name" id="name" />
  </div>
  
  <div>
    <label for="username">Username</label>
    <input type="text" name="username" id="username" />
  </div>
  
  <div>
    <label for="select">Select:</label>
    <select name="select">
      <option>Option 1</option>
      <option>Option 2</option>
      <option>Option 3</option>
      <option>Option 4</option>
    </select>
  </div>
  
  <div>
    <div class="col2">
      <label for="two">Two</label>
      <input type="text" name="two" id="two" />
    </div>
    <div class="col2">
      <label for="columns">Columns</label>
      <input type="text" name="columns" id="columns" />
    </div>
  </div>

  <div>
    <div class="fieldWithErrors">
      <label for="text_field_w_errors">Text Field With Errors</label>
    </div>
    <div class="fieldWithErrors">
      <input type="text" name="text_field_w_errors" id="text_field_w_errors" />
    </div>
  </div>
  
  <div>
    <div class="col2">
      <div class="fieldWithErrors">
        <label for="error_left">Error Left</label>
      </div>
      <div class="fieldWithErrors">
        <input type="text" name="error_left" id="error_left" />
      </div>
    </div>
    <div class="col2">
      <div class="fieldWithErrors">
        <label for="error_right">Error Right</label>
      </div>
      <div class="fieldWithErrors">
        <select name="error_right">
          <option>First Option</option>
        </select>
      </div>
    </div>
  </div>
  
  <div class="submit">
    <input type="submit"> or <a href="#">Cancel</a>
  </div>
</form>