<% title "Forms Sample" %>

<p>
  This page gives an example of a form in Control Center.
</p>

<form>
  <div class="field">
    <label for="name">Name</label>
    <input type="text" name="name" id="name" />
  </div>
  
  <div class="field">
    <label for="username">Username</label>
    <input type="text" name="username" id="username" />
  </div>
</form>