body {
  background: #ddd;
  font-family: arial, sans-serif;
  margin: 0;
  padding: 0;
  font-size: small;
}
a img {
  border: 0;
}

/* header styling */
#header {
  background: #36393d;
  color: #fff;
  height: 70px;
}
#header h1 a {
  text-decoration: none;
}
#header h1 {
  font-size: 30px;
  line-height: 70px;
  margin: 0;
  padding: 0 0 0 20px;
}
#header #header_links {
  font-size: small;
  margin: -65px 15px 0 0;
  padding: 0;
  list-style-type: none;
  text-align: right;
  float: right;
}
#header #header_links li {
  float: left;
  margin: 0 0 0 5px;
}
#header #header_links a {
  color: white;
}
#header #header_links a:hover {
  color: #36393d;
  background: #fff;
  text-decoration: none;
}

/* primary tabsigation styling */
#tabs {
  clear: both;
  float: right;
  margin: -27px 5px 0 0;
  list-style-type: none;
  font-weight: bold;
  font-size: small;
}
#tabs li {
  float: left;
  height: 27px;
  line-height: 27px;
  padding: 0 10px;
}
#tabs li.active {
  background: #ddd;
}
#tabs li.active a {
  color: #000;
}
#tabs a {
   text-decoration: none;
   padding: 3px;
   color: #fff;
}
#tabs a:hover {
  text-decoration: underline;
}
/* secondary tabsigation styling */
#sub_tabs {
  clear: both;
  float: left;
  list-style-type: none;
  font-weight: bold;
  font-size: small;
  margin: 13px 0 0 -15px;
}
#sub_tabs li {
  float: left;
  height: 27px;
  line-height: 27px;
  padding: 0 10px;
  margin-right: 7px;
}
#sub_tabs li.active {
  background: #fff;
}
#sub_tabs li.active a {
  color: #000;
}
#sub_tabs a {
   text-decoration: none;
   padding: 3px;
   color: #fff;
}
#sub_tabs a:hover {
  text-decoration: underline;
}

/* main content styling */
h2 {
  padding: 5px;
}
#main {
  min-width: 800px;
}
#content {
  clear: both;
}
#content_inside {
  padding: 5px 10px 10px 10px;
  margin: 0 10px;
  background: #fff;
  border-right: 2px solid #ccc;
  border-bottom: 2px solid #ccc;
  min-width: 800px;
}

#content.narrow {
  float: left;
  width: 70%;
}
#content.narrow #content_inside {
  min-width: 560px;
}

#sidebar {
  float: left;
  width: 30%;
}
#sidebar_inside {
  min-width: 240px;
  margin: 0 10px 0 0;
}
.sidebar_box {
  border-bottom: 2px solid #ccc;
}

/* style for forms */
form {
  margin: 20px 0;
  width: 500px;
}
form > div {
  margin-bottom: 10px;
  clear: both;
}
form > div div.col2 {
  width: 200px;
  float: left;
  margin: 0 20px 10px 0;
}
label {
  display: block;
}
fieldset {
  border: 0;
  border-top: 1px solid #ddd;
}
input[type="text"], input[type="password"] {
  width: 200px;
}
textarea {
  margin: 0;
}
input[type="submit"] {
  margin-top: 20px;
}
form div.submit {
  clear: both;
}

/* styling for errors */
.errorExplanation {
  border: 2px solid #c00;
  margin-bottom: 8px;
}
.errorExplanation h2 {
  float: none;
  background: #c00;
  margin: 0;
  color: #fff;
  padding: 3px;
  font-size: large;
}
.errorExplanation p {
  padding: 3px;
  margin: 3px 0;
}
.fieldWithErrors {
  display: inline;
}
.fieldWithErrors input[type="text"], .fieldWithErrors input[type="password"] {
  border: 2px solid #c00;
}
.fieldWithErrors label {
  color: #c00;
}

/* style for tables that are used as reports */
table {
	border-collapse: collapse;
	margin-bottom: 30px;
}
table thead tr {
	border-bottom: 1px solid #000;
}
table thead th {
  text-align: center;
}
table tbody th {
  text-align: left;
  vertical-align: top;
}
table tbody td {
	padding: 2px 10px;
  vertical-align: top;
}

/* makes something 100% width */
.wide {
  width: 100%;
}

/* style for pagination */
.pagination {
  padding: 3px;
  margin: 15px 3px 3px 3px;
}
.pagination a {
  padding: 2px 5px 2px 5px;
  margin: 2px;
  border: 1px solid #aaaadd;
  text-decoration: none;
  color: #36393d;
}
.pagination a:hover, .pagination a:active {
  border: 1px solid #36393d;
  color: #000;
}
.pagination span.current {
  padding: 2px 5px 2px 5px;
  margin: 2px;
  border: 1px solid #36393d;
  font-weight: bold;
  background-color: #36393d;
  color: #FFF;
}
.pagination span.disabled {
  padding: 2px 5px 2px 5px;
  margin: 2px;
  border: 1px solid #eee;
  color: #ddd;
}

/* styles for flashed messages and errors */
#message {
  background: #ff8;
  font-weight: bold;
  padding: 5px 20px;
  margin-top: 10px;
}
#error {
  background: #c00;
  font-weight: bold;
  color: #fff;
  padding: 5px 20px;
  margin-top: 10px;
}