<% title "Test Page" %>
<% select_tab "Tab 1" %>
<% select_sub_tab "Sub Tab" %>

<% sub_tabs do %>
  <%= sub_tab "Sub Tab", "/" %>
  <%= sub_tab "Sub Tab 2", "/2" %>
<% end %>

<h3>Tab Override</h3>
<p>
  This page overrides the main tabs with its own.
</p>
<p>
  <%= link_to "Check It Out", 
      { :controller => "test", :action => "tab_override"}%>
</p>

<% sidebar do %>
  <h3>Sidebar</h3>
  
  <div class="sidebar_box">
    <ul>
      <li>Some</li>
      <li>List</li>
    </ul>
  </div>
<% end %>