<% title "Pagination" %>
<% select_tab "Tab 2" %>

<div class="pagination"><span class="disabled prev_page">&laquo; Previous</span> <span class="current">1</span> <a href="/realms/2/orders?page=2" rel="next">2</a> <a href="/realms/2/orders?page=3">3</a> <a href="/realms/2/orders?page=4">4</a> <a href="/realms/2/orders?page=5">5</a> <a href="/realms/2/orders?page=6">6</a> <a href="/realms/2/orders?page=7">7</a> <a href="/realms/2/orders?page=8">8</a> <a href="/realms/2/orders?page=9">9</a> <span class="gap">&hellip;</span> <a href="/realms/2/orders?page=44">44</a> <a href="/realms/2/orders?page=45">45</a> <a href="/realms/2/orders?page=2" class="next_page" rel="next">Next &raquo;</a></div>