<% title "Tab Override" %>

<% tabs do %>
  <%= tab "Testing", "/" %>
  <%= tab "Override", "/override" %>
<% end %>

<p>
  This page shows you how to override the tabs in the site with a new
  set of tabs. This can be useful if you want to customize your tabs on
  each page.
</p>