<% title "Table Sample" %>
<% select_tab "Tab 1" %>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>Awesomeness</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Alan Johnson</td>
      <td>
        107 This Way<br />
        Paris, France
      </td>
      <td>Super</td>
    </tr>
    <tr>
      <td>John Doe<br/><em>Sysadmin</em></td>
      <td>France St.</td>
      <td>Somewhat</td>
    </tr>
  </tbody>
</table>